<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="styleseet" href="assets/base.css">
    <title>Satta Ravi's Blog</title>
</head>