<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>
                <a href="/">Site</a>
            </strong>
            built with love + Coffeee + 11ty by Satta
        </p>
    </div>
</footer>