<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% set greeting = 'Satta Ravi' %}
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <h1>
            {{ greeting | upper }}
        </h1>
    </body>
</html>