<!-- index.njk -->
---
title: Home page  
date: 10/03/2020
---
<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% set greeting = 'Satta Ravi' %}
        <h1>
            Yay,
            {{ greeting | upper }}
            world!
        </h1>
    </body>
</html>