--- 
layout: base.njk 
---
<section class="hero is-success is-bold is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Satta Ravi
            </h1>
            <h2 class="subtitle">
                <a class="button is-primary is-inverted is-outlined" href="/">Home</a>
                <a class="button is-primary is-inverted is-outlined" href="/blog">Blog</a>
                <a class="button is-primary is-inverted is-outlined" href="/About">About</a>
            </h2>
        </div>
    </div>
</section>